*{
	outline: 1px solid black;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
/*
	background-color: red;
*/
}


.container{
	display: flex;
	flex-direction: column;	
	min-height: 100%;
}

.header{
	
}

.box{
	display: flex;
	flex-direction: row;
}



.hspacer{
	flex-grow: 1;
}

.vspacer{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: 150px;
/*
	background-color: yellow;
*/
}

.vspacer > *{
	margin: 10px;	
}

.box{
	align-items: center;
	justify-content: center;
	padding: 10px;
	
}

.header{	
	justify-content: left;
}

.logo{
	width: 80px;
	height: auto;
}



.footer{
	padding-top: 20px;
	background-color: #F2F2F2;
}

table{
	font-size: 11px;
	width: 100%;
}

td{
	padding: 0 5px;
}

input{
width: 100%;

}









span{
	margin: 10px;
}


.links-group > a {
	text-decoration: inherit;
	color: inherit;    
}


.links-group > a:hover{
	text-decoration: underline;
}

.links-group{
	margin: 10px;
}

.links-group > a{
	margin: 0px 5px;
}

span > a{
	display: inline-block;
	text-align: center;
	align-content: center;
	text-decoration: inherit;
	color: inherit; 
	background-color: red;   
	padding: 8px;
	font-size: 13px;
	border-radius: 8px;
	width: 130px;
	height: 20px;
	background-color: #F8F9FA;
	border: 1px solid #ffffff;	
}




span > a:hover{	
	border: 1px solid #EDEFF1;	
	
}

.img {	
	color: blue;
	text-align: right;
}


