*{
	outline: 1px solid black;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	background-color: red;
}


.container{
	display: flex;
	flex-direction: column;	
	min-height: 100%;
}


.box{
	display: flex;
	flex-direction: row;
}

.hspacer{
	flex-grow: 1;
}

.vspacer{
	flex-grow: 1;
	background-color: yellow;
}

.box{
	align-items: center;
	justify-content: center;
	padding: 10px;
	
}

.footer{
	padding-top: 50px;
}

input[type="text"]{	
	border: none;
	border-radius: 20px;	
	min-height: 40px;
	min-width: 80%;
	height: 20px;
}
